@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-soft: #f3f3f3;
}

.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075) inset;
}

.header{
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sidebar{

}


.show-sidebar-btn{
    cursor: pointer;
}

.card{
    border:none;
}

.status-card{
    transition: 0.3s;
}

.status-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.status-card:active{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.ov-img{
    margin-left: -25px;
}


.item-carousel{
    margin-top: -100px;
}
.item-card-img{
    height: 200px;
}

@media screen and (max-width: 780px){
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }
}
